<header class="rick-header">
    <h3 class="title">🛸 Rick and Morty APP - UTN</h3>
    <nav>
      <ul class="nav-list">
        <li><a routerLink="/" routerLinkActive="active">🏠 Home</a></li>
  
        @if(isLoggingIn){
          <li><a routerLink="/characters" routerLinkActive="active">🧬 Characters</a></li>
        }
  
        <li><a routerLink="/contact" routerLinkActive="active">📬 Contact</a></li>
  
        @if(isLoggingIn){
          <li><button class="login-btn" (click)="isLoggingIn=false">🚪 Cerrar sesión</button></li>
        } @else{
          <li><button class="login-btn" (click)="isLoggingIn=true">🔐 Iniciar sesión</button></li>
        }
      </ul>
    </nav>
  </header>