<section class="home-container">
  <div class="portal-bg"></div>

  

  <!-- Imagen de cohete -->
  <img src="cohete.png" alt="Cohete interdimensional" class="rocket-img"  />
  

  <div class="content">
    <h1 class="home-title">🛸 Bienvenido a la Rick and Morty APP</h1>
    <p class="home-description">
      Esta aplicación es un portal interdimensional donde podés explorar personajes, lugares y eventos de la serie
      <strong>Rick and Morty</strong>. Viajá por el multiverso junto a Rick, un científico loco, y su nieto Morty,
      mientras enfrentan alienígenas, clones, robots, realidades alternas y hasta a ellos mismos.
    </p>
    <p class="quote">“Wubba Lubba Dub-Dub!” – Rick Sanchez</p>
  </div>
</section>